<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title {{theObject.name}}</h5>
        <!-- <p>{{currentMessage}}</p>
        <app-bookmark-colors></app-bookmark-colors>
        <button (click)="onBookmarkListBtnClick($event)">Trigger click in children</button>
        <app-bookmark-counter #bookmarkCounterComp class="active" (counterClicked)="onCounterClicked($event)"
          [name]="''" [count]="items.length" [items]="items"></app-bookmark-counter> -->
        <app-bookmark-form #bookmarkForm></app-bookmark-form>
        <button class="btn btn-primary" (click)="addNewBookmark()">Add new bookmark</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <td scope="col" data-colname="name">Name</td>
              <td scope="col" data-colname="link">Link</td>
              <td scope="col" data-colname="group">Group</td>
              <td scope="col" data-colname="action">Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items;">
              <td scope="row">Link A</td>
              <td scope="row">Link A</td>
              <td scope="row">Link A</td>
              <td scope="row" data-colname="action">
                <div>
                  <button class="btn-icon" title="Edit">
                    <span class="material-icons icon icon-warning">edit</span>
                  </button>
                  <button class="btn-icon" title="Delete">
                    <span class="material-icons icon icon-danger">delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>