<div [ngClass]="{'modal':true, 'fade':true, 'show': show}" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{mode}} Bookmark</h5>
        <button type="button" (click)="onClose()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #form>
          <select required name="group" class="form-select mb-3" aria-label="Default select example">
            <option value="">Please select group</option>
            <option *ngFor="let g of bookmarkGroups" value="{{ g.id }}">{{ g.name}}</option>
          </select>
          <div class="mb-3 d-flex flex-column-reverse">
            <input [value]="bookmarkItem?.toObject()?.title" required name="title" type="text" class="form-control"
              id="title" />
            <label for="title" class="form-label">Title</label>
          </div>
          <div class="mb-3 d-flex flex-column-reverse">
            <input [value]="bookmarkItem?.toObject()?.link" required name="link" type="link" class="form-control"
              id="link" />
            <label for="link" class="form-label">Link</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="onClose()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button (click)="onSave($event)" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="{'modal-backdrop':true, 'fade':true, 'show': show}"></div>